@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @font-face {
    font-family: Vazir;
    src: url(../public/fonts/Vazir-Regular.ttf);
  }
}

.Toastify__toast {
  font-family: "Vazir", sans-serif !important;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.bg-row {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    rgba(133, 133, 133, 0.171) 2px,
    transparent 0
  );
  background-size: 30px 30px;
  background-position: -5px -5px;
}
